{% extends 'base.html.twig' %}

{% block body %}
    <h1>Profile edit</h1>
    {% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" class="btn btn-secondary btn-lg" value="Edit" />
    {{ form_end(edit_form) }}


            <a href="{{ path('profile_index') }}" class="btn btn-secondary btn-lg">Back to the list</a>
        <ul>
        <li>

            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
