{% extends 'base.html.twig' %}

{% block body %}
    <h1>Profile edit</h1>
    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

    {{ form_start(form) }}
    {% include 'profile/forms/form.html.twig' %}
    {{ form_end(form) }}


<div class="col-lg-3">
    {{ form_start(delete_form) }}
    <input type="submit" class="btn btn-secondary" value="Edit"/>
    <a href="{{ path('profile_index') }}" class="btn btn-secondary">Back to the list</a>
    <input class="btn btn-danger btn_lg" type="submit" value="Delete">
    {{ form_end(delete_form) }}
</div>
{% endblock %}
