{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
{% endblock %}

{% block javascripts %}
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable({
                "paging": true,
                "stateSave": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json",

                }
            });

            $('a.toggle-vis').on('click', function (e) {
                e.preventDefault();
                // Get the column API object
                var column = table.column($(this).attr('data-column'));
                // Toggle the visibility
                column.visible(!column.visible());
            });
        });
    </script>
{% endblock %}

{% block body %}
    <h1>Profiles list</h1>
    <div>
        Toggle column:
        <a class="toggle-vis" data-column="0">Id</a> -
        <a class="toggle-vis" data-column="1">Nom</a> -
        <a class="toggle-vis" data-column="2">Prenom</a> -
        <a class="toggle-vis" data-column="3">Telephone</a> -
        <a class="toggle-vis" data-column="4">Email</a> -
        <a class="toggle-vis" data-column="5">Cv</a>-
        <a class="toggle-vis" data-column="6">Experience</a> -
        <a class="toggle-vis" data-column="7">Niveau</a> -
        <a class="toggle-vis" data-column="8">Skype</a> -
        <a class="toggle-vis" data-column="9">Linked in</a> -
        <a class="toggle-vis" data-column="10">Facebook</a>-
        <a class="toggle-vis" data-column="11">Github</a> -
        <a class="toggle-vis" data-column="12">Sivp</a> -
        <a class="toggle-vis" data-column="13">Prestation salaraiale</a> -
        <a class="toggle-vis" data-column="14">Photo</a>
    </div>
    <table id="example">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Telephone</th>
            <th>Email</th>
            <th>Cv</th>
            <th>Experience</th>
            <th>Niveau</th>
            <th>Skype</th>
            <th>Linkedin</th>
            <th>Facebook</th>
            <th>Github</th>
            <th>Sivp</th>
            <th>Prestation Salariale</th>
            <th>Photo</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for profile in profiles %}
            <tr>
                <td><a href="{{ path('profile_show', { 'id': profile.id }) }}">{{ profile.id }}</a></td>
                <td>{{ profile.nom }}</td>
                <td>{{ profile.prenom }}</td>
                <td>{{ profile.telephone }}</td>
                <td>{{ profile.email }}</td>
                <td>{{ profile.cv }}</td>
                <td>{{ profile.experience }}</td>
                <td>{{ profile.niveau }}</td>
                <td>{{ profile.skype }}</td>
                <td>{{ profile.linkedin }}</td>
                <td>{{ profile.facebook }}</td>
                <td>{{ profile.github }}</td>
                <td>{% if profile.sivp %}Yes{% else %}No{% endif %}</td>
                <td>{{ profile.prestationsalariale }}</td>
                <td>{{ profile.photo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('profile_show', { 'id': profile.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('profile_edit', { 'id': profile.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('profile_new') }}">Create a new profile</a>
        </li>
    </ul>
{% endblock %}
