{% extends 'base.html.twig' %}

{% block title %}
    Liste des profile
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
    <style>
        #profiles .interested-profile td {
            background-color: #2990271c !important;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            var table = $('#profiles').DataTable({
                "paging": true,
                "scrollX": true,
                "stateSave": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json",
                }
            });

            table.columns().every(function (index) {
                var visible = this.visible();
                $('.toggle-vis').eq(index).prop('checked', visible);
            });

            $('.toggle-vis').on('change', function (e) {
                e.preventDefault();
                // Get the column API object
                var column = table.column($(this).attr('data-column'));
                // Toggle the visibility
                column.visible(!column.visible());
            });

        });

    </script>

    <script>
        jQuery(document).ready(function($) {
            $("#reset-button").click(function() {
                $("#disponibilite").val(0);
                $("#experience").val(0);
                $("#contrat").val(0);
                $("#competences").val(0);
                $("#ambition").val(0);
                $("#poste").val(0);
                $("#groupe").val(0);
                $("#interet").val(0);
                document.getElementById("form-project").submit();
            });
        });
    </script>
{% endblock %}

{% block body %}

    {#titre et buttons#}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <h1><b>Listes des profils</b></h1>
                </div>
                <div class="col-md-6 text-right">
                    <br>
                    <button class="btn btn-complete btn-cons " data-target="#collapseSearch" data-toggle="collapse"
                           href="collapseSearch" role="button"><i class="fa fa-filter" aria-hidden="true"></i> Appliquer un filtre
                    </button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-columns" aria-hidden="true"></i> Choisir les colonnes.
                    </button>
                    {% if is_granted('ROLE_CONSULT')== false %}    
                        <a href="{{ path('profile_new') }}" class="btn btn-success">
                            <i class="fa fa-plus" aria-hidden="true"></i> Ajouter un profil
                         </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="collapse row" id="collapseSearch">
            <form id="form-project" method="GET" role="form" autocomplete="off" novalidate="novalidate">
                <div class="card card-body col-md-12" style="padding: 20px; width: 100%">
                    <h5 class="m-t-10">Informations concernant le Profil</h5>
                    <div class="form-group-attached">
                        <div class="row clearfix">
                            {#Disponibilité#}
                            <div class="col-sm-2">
                                <div class="form-group form-group-default">
                                    <label>Disponibilité</label>
                                    <select id="disponibilite" class="cs-select cs-skin-slide cs-transparent form-control"
                                            name="disponibilite"
                                            data-init-plugin="cs-select">
                                        <option value="0">Toutes</option>
                                        {% for disponibilite in disponibilites %}
                                            <option value="{{ disponibilite.id }}"
                                                    {% if app.session.get('disponibilite') == disponibilite.id %} selected {% endif %} >
                                                {{ disponibilite.libelle }}</option>
                                        {% endfor %}

                                    </select>
                                </div>
                            </div>
                            {#Experiences#}
                            <div class="col-sm-2">
                                <div class="form-group form-group-default">
                                    <label>Experiences (Sup. à)</label>
                                    <input type="text" class="form-control" name="experience" id="experience"
                                           value="{{ app.session.get('experience') }}">
                                </div>
                            </div>
                            {#Contrat#}
                            <div class="col-sm-1">
                                <div class="form-group form-group-default">
                                    <label>Contrat</label>
                                    <select class="cs-select cs-skin-slide cs-transparent form-control" multiple="multiple"
                                            id="contrat" name="contrat" data-init-plugin="cs-select">
                                        <option value="0">All</option>
                                        <option value="SIVP1" {% if app.session.get('contrat') == 'SIVP1' %} selected {% endif %}>SIVP 1</option>
                                        <option value="SIVP2" {% if app.session.get('contrat') == 'SIVP2' %} selected {% endif %}>SIVP 2</option>
                                        <option value="CDI" {% if app.session.get('contrat') == 'CDI' %} selected {% endif %}>CDI</option>
                                        <option value="CDD" {% if app.session.get('contrat') == 'CDD' %} selected {% endif %}>CDD</option>
                                        <option value="Freelance" {% if app.session.get('contrat') == 'Freelance' %} selected {% endif %}>Freelance</option>
                                    </select>
                                </div>
                            </div>
                            {#Compétence#}
                            <div class="col-sm-3">
                                <div class="form-group form-group-default form-group-default-select2">
                                    <label>Compétence</label>
                                    <select class="full-width select2-hidden-accessible" multiple=""
                                            name="competences" id="competences"  multiple="multiple"
                                            data-init-plugin="select2" tabindex="-1" aria-hidden="true">
                                            <option value="0">Toutes</option>
                                        {% for competence in competences %}
                                            <option {% if app.session.get('competences') == competence.id %} selected {% endif %}
                                                    value="{{ competence.id }}"> {{ competence.libelle }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            {#Ambition#}
                            <div class="col-sm-3">
                                <div class="form-group form-group-default">
                                    <label>Ambition</label>
                                    <select class="cs-select cs-skin-slide cs-transparent form-control"
                                            name="ambition" id="ambition" data-init-plugin="cs-select">
                                            <option value="0">Indiff</option>
                                            <option value="mission en france" {% if app.session.get('ambition') == 'mission en france' %} selected {% endif %}>
                                                Cherche une mission en France à l'étranger
                                            </option>
                                            <option value="travailler en france" {% if app.session.get('ambition') == 'travailler en france' %} selected {% endif %}>
                                                Veut être embauché en France à l'étranger
                                            </option>
                                            <option value="travailler en tunisie" {% if app.session.get('ambition') == 'travailler en tunisie' %} selected {% endif %}>
                                                Veut être embauché en Tunisie
                                            </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group form-group-default">
                                    <label>Interet</label>
                                    <select class="cs-select cs-skin-slide cs-transparent form-control" multiple="multiple"
                                            id="interet" name="interet" data-init-plugin="cs-select">
                                        <option value="0" {% if app.session.get('interet') == '0' %} selected {% endif %}>Indif</option>
                                        <option value="1" {% if app.session.get('interet') == '1' %} selected {% endif %}>Oui</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h5 class="m-t-10">Informations Concernant la Candidature</h5>
                    <div class="form-group-attached">
                        <div class="row clearfix">
                            {#Poste#}
                            <div class="col-sm-6">
                                <div class="form-group form-group-default">
                                    <label>Poste</label>
                                    <select name="poste" id="poste"
                                            class="cs-select cs-skin-slide cs-transparent form-control"
                                            data-init-plugin="cs-select">
                                        <option value="0">Toutes</option>
                                        {% for poste in postes %}
                                            <option {% if app.session.get('poste') == poste.id %} selected {% endif %}
                                                    value="{{ poste.id }}"> {{ poste.libelle }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            {#groupe#}
                            <div class="col-sm-6">
                                <div class="form-group form-group-default">
                                    <label>Présenté par</label>
                                    <select name="groupe" id="groupe"
                                            class="cs-select cs-skin-slide cs-transparent form-control"
                                            data-init-plugin="cs-select">
                                        <option value="0">Toutes</option>
                                        {% for groupe in groupes %}
                                            <option {% if app.session.get('groupe') == groupe.id %} selected {% endif %}
                                                    value="{{ groupe.id }}"> {{ groupe.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input id="reset-button" class="btn btn-warning" type="reset"/>
                    <button class="btn btn-success" type="submit">Chercher</button>
                </div>
                <hr>
            </form>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table id="profiles" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>{{ 'entity.profile.photo' | trans }}</th>
                    <th>{{ 'entity.profile.nom' | trans }}</th>
                    <th>{{ 'entity.profile.coordonnees' | trans }}</th>
                    <th>{{ 'entity.profile.cv' | trans }}</th>
                    <th>{{ 'entity.profile.experience' | trans }}</th>
                    <th>{{ 'entity.profile.niveau' | trans }}</th>
                    <th>{{ 'entity.profile.reseauxsociaux' | trans }}</th>
                    <th>{{ 'entity.profile.sivp' | trans }}</th>
                    <th>{{ 'entity.profile.contrat' | trans }}</th>

                    {% if is_granted('ROLE_ADMIN') %}    
                        <th>{{ 'entity.profile.prestationsalariale' | trans }} </th>
                    {% endif %}
                    {% if is_granted('ROLE_SAISIE') %}    
                        <th>{{ 'entity.profile.prestationsalariale' | trans }} </th>
                    {% endif %}
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for profile in profiles %}
                    {% if profile.favoris %}
                        <tr class="interested-profile">
                    {% else %}
                        <tr>
                    {% endif %}
                        <td>
                                <a href="{{ path('profile_show', { 'id': profile.id }) }}">
                                    <div id="profile-image1">
                                        {% if profile.photo != '' %}
                                            <img alt="User Pic" src="{{ asset('uploads/photo/' ~ profile.photo) }}"
                                                 id="profile-image1" class="img-avatar img-responsive">
                                        {% else %}
                                            <img alt="User Pic" src="{{ asset('assets/img/profile.png') }}"
                                                 id="profile-image1" class="img-avatar img-responsive">
                                        {% endif %}

                                    </div>
                                </a>
                            </td>
                            <td>
                                {{ profile.nom }}<br>
                                {{ profile.prenom }}
                            </td>
                            <td>
                                {% if profile.email %}
                                    {{ profile.email }} <br>
                                {% endif %}
                                {% if profile.telephone %}
                                    <i class="fa fa-phone" aria-hidden="true"></i> {{ profile.telephone }} &nbsp
                                {% endif %}
                                {% if profile.skype %}
                                    <i class="fa fa-skype" aria-hidden="true"></i> {{ profile.skype }}
                                {% endif %}

                            </td>

                            <td>
                                {% if profile.cv != null %}
                                    <a href="{{ asset('uploads/cv/' ~ profile.cv) }}" class="btn btn-secondary btn-sm">
                                        <i class="fa fa-file-word-o"></i>
                                        CV
                                    </a>
                                {% endif %}
                            </td>
                            <td>{{ profile.experience }}</td>
                            <td>{{ profile.niveau }}</td>

                            <td>
                                {% if profile.linkedin %}
                                    <a href="{{ profile.linkedin }}" target="_blank">
                                        <i class="fa fa-linkedin fa-2x" style="color:#4875B4;"
                                           aria-hidden="true"></i></a>
                                {% endif %}

                                {% if profile.facebook %}
                                    <a href="{{ profile.facebook }}" target="_blank">
                                        <i class="fa fa-facebook-square fa-2x"
                                           style="color:#3b5998;"></i>
                                    </a>
                                {% endif %}
                                {% if profile.github %}
                                    <a href="{{ profile.github }}" target="_blank">
                                        <i class="fa fa-github fa-2x" style="color: black;" aria-hidden="true"></i>
                                    </a>
                                {% endif %}

                            </td>
                            <td>{% if profile.sivp %}
                                    <i class="fa fa-check text-success fa-2x" aria-hidden="true"></i>
                                {% else %}
                                    <i class="fa fa-times text-danger fa-2x" aria-hidden="true"></i>
                                {% endif %}
                            </td>
                            <td>{% if profile.contrat %}
                                    {{ profile.contrat }}
                                {% else %}
                                    <i class="fa fa-exclamation-triangle text-warning fa-2x" aria-hidden="true"></i>
                                {% endif %}
                            </td>
                            {% if is_granted('ROLE_ADMIN') %}    
                                <td>{{ profile.prestationsalariale }}</td>
                            {% endif %}

                            {% if is_granted('ROLE_SAISIE') %}    
                                <td>{{ profile.prestationsalariale }}</td>
                            {% endif %}

                                <td>
                                    <div class="btn-group btn-group-sm btn-group-horizontal">
                                        <a class="btn btn-secondary" href="{{ path('profile_show', { 'id': profile.id }) }}"
                                           data-toggle="tooltip" title="Afficher le profile">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        {% if is_granted('ROLE_CONSULT')== false %}    
                                        <a class="btn btn-secondary" href="{{ path('profile_edit', { 'id': profile.id }) }}"
                                           data-toggle="tooltip" title="Editer le profile">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </a>
                                        <a class="btn btn-secondary" href="{{ path('candidature_new', { 'id': profile.id } ) }}"
                                           data-toggle="tooltip" title="Convoquer">
                                            <i class="fa fa-check text-success"></i>
                                        </a>
                                        {% endif %}
                                    </div>
                                </td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    {#Modal de filtrage #}
    <div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true"></span></button>
                    <h4 class="modal-title" id="myModalLabel">Columns</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="toggle-vis form-check-input" id="photos"
                                           data-column="0">
                                    Photos
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="toggle-vis form-check-input" id="nomprenom"
                                           data-column="1">
                                    Nom et prénom
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="toggle-vis form-check-input" id="coordonnees"
                                           data-column="2">
                                    Coordonnées
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="toggle-vis form-check-input" id="cv"
                                           data-column="3">
                                    Curriculum vitae
                                </label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="toggle-vis form-check-input" id="experience"
                                           data-column="4">
                                    Experience
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="toggle-vis form-check-input" id="niveau"
                                           data-column="5">
                                    Niveau
                                </label>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="toggle-vis form-check-input" id="reseau"
                                           data-column="6">
                                    Reseaux sociaux
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="toggle-vis form-check-input" id="contrat"
                                           data-column="7">
                                    Contrat
                                </label>
                            </div>
                            {% if is_granted('ROLE_ADMIN') %}    
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="toggle-vis form-check-input" id="pres"
                                               data-column="8">
                                        Prestation salariale
                                    </label>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <div class="modal-footer" style="padding-bottom:0px;">
                        <button type="button" class="btn btn-success" data-dismiss="modal">
                            Enregister
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}