{% extends 'base.html.twig' %}

{#{% block stylesheets %}#}
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>#}
    {#<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">#}
{#{% endblock %}#}

{% block title %}
    Profile de {{ profile }}
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
<style>
    @media print {
        .but { display: none; }
    }
</style>
 {% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        function imprimer_page(){
            window.print();
        }
    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h1>
                        <center>Profile</center>
                    </h1>
                </div>
                <div class="card-block">
                    <h4 class="card-title">

                        <div class="row">
                            <div class="col-md-3">
                                <a>
                                    {% if profile.photo != '' %}
                                        <img alt="User Pic"
                                             src="{{ asset('uploads/photo/' ~ profile.photo) }}"
                                             class="img-circle img-responsive">
                                    {% else %}
                                        <img alt="User Pic" src="{{ asset('assets/image/profile.png') }}"
                                             id="profile-image1" class="img-circle img-responsive">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-md-9">
                                <h2>{{ profile.prenom }} {{ profile.nom }}</h2>
                            </div>
                        </div>
                    </h4>
                    <hr>
                    <table style="width: 100%;" align="center">
                        <tr>
                            <td>
                                <div class="col-sm-5 col-xs-6 tital ">{{ 'entity.profile.telephone' | trans }}
                                    :
                                </div>
                            </td>
                            <td>
                                <div class="col-sm-7">{{ profile.telephone }}</div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="clearfix"></div>
                            </td>
                            <td>
                                <div class="bot-border"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="col-sm-5 col-xs-6 tital ">{{ 'entity.profile.email' | trans }}:</div>
                            </td>
                            <td>
                                <div class="col-sm-7">{{ profile.email }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="clearfix"></div>
                            </td>
                            <td>
                                <div class="bot-border"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="col-sm-5 col-xs-6 tital ">{{ 'entity.profile.cv' | trans }}:
                                </div>
                            </td>
                            <td>
                                <div class="col-sm-7"><a href="{{ asset('uploads/cv/' ~ profile.cv) }}">View
                                        CV (DOC)</a></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="clearfix"></div>
                            </td>
                            <td>
                                <div class="bot-border"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="col-sm-5 col-xs-6 tital ">{{ 'entity.profile.experience' | trans }}
                                    :
                                </div>
                            </td>
                            <td>
                                <div class="col-sm-7">{{ profile.experience }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="clearfix"></div>
                            </td>
                            <td>
                                <div class="bot-border"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="col-sm-5 col-xs-6 tital ">{{ 'entity.profile.niveau' | trans }}
                                    :
                                </div>
                            </td>
                            <td>
                                <div class="col-sm-7">{{ profile.niveau }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="clearfix"></div>
                            </td>
                            <td>
                                <div class="bot-border"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="col-sm-5 col-xs-6 tital ">{{ 'entity.profile.skype' | trans }}
                                    :
                                </div>
                            </td>
                            <td>
                                <div class="col-sm-7">{{ profile.skype }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="col-sm-5 col-xs-6 tital ">{{ 'entity.profile.linkedin' | trans }}
                                    :
                                </div>
                            </td>
                            <td>
                                <div class="col-sm-7">
                                    {% if profile.linkedin %}
                                        <a href="{{ profile.linkedin }}">
                                            <i class="fa fa-linkedin fa-2x" style="color:#4875B4;"
                                               aria-hidden="true"></i>
                                        </a>
                                    {% else %}
                                        <i class="fa fa-times text-danger fa-2x" aria-hidden="true"></i>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="col-sm-5 col-xs-6 tital ">{{ 'entity.profile.facebook' | trans }}
                                    :
                                </div>
                            </td>
                            <td>
                                <div class="col-sm-7">
                                    {% if profile.facebook %}
                                        <a href="{{ profile.facebook }}">
                                            <i class="fa fa-facebook-square fa-2x"
                                               style="color:#3b5998;"></i>
                                        </a>
                                    {% else %}
                                        <i class="fa fa-times text-danger fa-2x" aria-hidden="true"></i>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="col-sm-5 col-xs-6 tital ">{{ 'entity.profile.github' | trans }}
                                    :
                                </div>
                            </td>
                            <td>
                                <div class="col-sm-7">
                                    {% if profile.github %}
                                        <a href="{{ profile.github }}">
                                            <i class="fa fa-github fa-2x" style="color: black;"
                                               aria-hidden="true"></i>
                                        </a>                                            {% else %}
                                        <i class="fa fa-times text-danger fa-2x" aria-hidden="true"></i>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        <tr>

                        </tr>
                        <tr>
                            <td>
                                <div class="col-sm-5 col-xs-6 tital ">{{ 'entity.profile.sivp' | trans }}:
                                </div>
                            </td>
                            <td>
                                <div class="col-sm-7">
                                    {% if profile.sivp %}
                                        <i class="fa fa-check text-success fa-2x" aria-hidden="true"></i>
                                    {% else %}
                                        <i class="fa fa-times text-danger fa-2x" aria-hidden="true"></i>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="clearfix"></div>
                            </td>
                            <td>
                                <div class="bot-border"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="col-sm-5 col-xs-6 tital ">{{ 'entity.profile.prestationsalariale' | trans }}
                                    :
                                </div>
                            </td>
                            <td>
                                <div class="col-sm-7">{{ profile.prestationsalariale }}</div>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>

            <div class="row but">
                <div class="col-md-3">
                    <button id="impression" value="Imprimer la page" name="impression" type="submit" id="impression" name="impression"
                           onclick="imprimer_page()" class="btn btn-primary pull-right"><i class="fa fa-download"> Download</i></button>
                </div>
                <div class="col-md-3">
                    <a href="{{ path('profile_index') }}"
                       class="btn btn-secondary ">
                        <i class="fa fa-undo " aria-hidden="true"></i>
                        Retour au liste
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="{{ path('profile_edit', { 'id': profile.id }) }}"
                       class="btn btn-secondary ">
                        <i class="fa fa-pencil-square-o"></i>
                        Editer
                    </a>
                </div>
                {{ form_start(delete_form) }}
                <div class="col-md-3">
                    <button type="button" class="btn btn-danger btn_lg" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                        {{ 'entity.common.supprimer' | trans }}
                    </button>
                </div>
            </div>
            <br>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> {{ 'entity.common.supprimer' | trans }}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Voulez-vous vraiement supprimer ce profile ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-secondary" data-dismiss="modal"> Annuler
                    </button>

                    <input class="btn btn-danger btn_lg" type="submit" value="Supprimer">
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $('#profile-image1').on('click', function () {
                $('#profile-image-upload').click();
            });
        });
    </script>


{% endblock %}