{% extends 'base.html.twig' %}
{% block head %}

{% endblock %}


{% block body %}
    <div style="margin-left: 300px; margin-top: 5px;" class="container">
        <div class="row">
            <div class="col-md-7 ">
                <div align="center" class="panel panel-default">
                    <div style="height: 35px;margin-top: -2px;" class="panel-heading"><h4>Profile</h4></div>
                    <div class="panel-body">

                        <div class="box box-info">

                            <div class="box-body">
                                <div class="col-sm-6">
                                    <div align="center">
                                        {% if profile.photo != '' %}
                                            <img alt="User Pic" src="{{ asset('uploads/photo/' ~ profile.photo) }}"
                                                 id="profile-image1" class="img-circle img-responsive">
                                        {% else %}
                                            <img alt="User Pic" src="{{ asset('assets/image/profile.png') }}"
                                                 id="profile-image1" class="img-circle img-responsive">
                                        {% endif %}
                                    </div>

                                    <br>

                                    <!-- /input-group -->
                                </div>
                                <div class="col-sm-6">
                                    <h4 style="margin-top:20px;font-size: 30px;color:#00b1b1;">{{ profile.nom }} {{ profile.prenom }}</h4></span>
                                </div>
                                <div class="clearfix"></div>
                                <hr style="margin:5px 0 5px 0;">

                                <table style="width: 100%;" align="center">
                                    <tr>
                                        <td>
                                            <div class="col-sm-5 col-xs-6 tital ">{{ 'entity.profile.telephone' | trans }}:</div>
                                        </td>
                                        <td>
                                            <div class="col-sm-7">{{ profile.telephone }}</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="clearfix"></div>
                                        </td>
                                        <td>
                                            <div class="bot-border"></div>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td>
                                            <div class="col-sm-5 col-xs-6 tital ">{{ 'entity.profile.email' | trans }} :</div>
                                        </td>
                                        <td>
                                            <div class="col-sm-7">{{ profile.email }}</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="clearfix"></div>
                                        </td>
                                        <td>
                                            <div class="bot-border"></div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="col-sm-5 col-xs-6 tital ">{{ 'entity.profile.cv' | trans }}:</div>
                                        </td>
                                        <td>
                                            <div class="col-sm-7"><a href="{{ asset('uploads/cv/' ~ profile.cv) }}">View
                                                    CV (DOC)</a></div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="clearfix"></div>
                                        </td>
                                        <td>
                                            <div class="bot-border"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="col-sm-5 col-xs-6 tital ">{{ 'entity.profile.experience' | trans }}:</div>
                                        </td>
                                        <td>
                                            <div class="col-sm-7">{{ profile.experience }}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="clearfix"></div>
                                        </td>
                                        <td>
                                            <div class="bot-border"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="col-sm-5 col-xs-6 tital ">{{ 'entity.profile.niveau' | trans }}:</div>
                                        </td>
                                        <td>
                                            <div class="col-sm-7">{{ profile.niveau }}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="clearfix"></div>
                                        </td>
                                        <td>
                                            <div class="bot-border"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="col-sm-5 col-xs-6 tital ">{{ 'entity.profile.skype' | trans }}:</div>
                                        </td>
                                        <td>
                                            <div class="col-sm-7">{{ profile.skype }}</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="col-sm-5 col-xs-6 tital ">{{ 'entity.profile.linkedin' | trans }}:</div>
                                        </td>
                                        <td>
                                            <div class="col-sm-7">
                                            {% if profile.linkedin %}
                                                <div class="col-sm-7">{{ profile.linkedin }}</div>
                                            {% else %}
                                                <i class="fa fa-times text-danger fa-2x" aria-hidden="true"></i>
                                            {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="col-sm-5 col-xs-6 tital ">{{ 'entity.profile.facebook' | trans }}:</div>
                                        </td>
                                        <td>
                                            <div class="col-sm-7">
                                            {% if profile.facebook %}
                                                <div class="col-sm-7">{{ profile.facebook }}</div>
                                            {% else %}
                                                <i class="fa fa-times text-danger fa-2x" aria-hidden="true"></i>
                                            {% endif %}
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="col-sm-5 col-xs-6 tital ">{{ 'entity.profile.github' | trans }}:</div>
                                        </td>
                                        <td>
                                            <div class="col-sm-7">
                                            {% if profile.github %}
                                                <div class="col-sm-7">{{ profile.github }}</div>
                                            {% else %}
                                                <i class="fa fa-times text-danger fa-2x" aria-hidden="true"></i>
                                            {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>

                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="col-sm-5 col-xs-6 tital ">{{ 'entity.profile.sivp' | trans }}:</div>
                                        </td>
                                        <td>
                                            <div class="col-sm-7">
                                            {% if profile.sivp %}
                                                <i class="fa fa-check text-success fa-2x" aria-hidden="true"></i>
                                            {% else %}
                                                <i class="fa fa-times text-danger fa-2x" aria-hidden="true"></i>
                                            {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="clearfix"></div>
                                        </td>
                                        <td>
                                            <div class="bot-border"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="col-sm-5 col-xs-6 tital ">{{ 'entity.profile.prestationsalariale' | trans }}:</div>
                                        </td>
                                        <td>
                                            <div class="col-sm-7">{{ profile.prestationsalariale }}</div>
                                        </td>
                                    </tr>
                                </table>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                    </div>
                </div>

                <br>
                <div style="margin-top: -20px;">
                    <a href="{{ path('profile_index') }}" class="btn btn-secondary btn-lg"><i class="fa fa-undo " aria-hidden="true"></i> Retour au liste</a>

                    <a href="{{ path('profile_edit', { 'id': profile.id }) }}" class="btn btn-secondary btn-lg"> <i class="fa fa-pencil-square-o"></i> Edit</a>

                    {{ form_start(delete_form) }}
                    <button type="submit" class="btn btn-danger btn_lg"
                           style="margin-top: -50px;margin-left: 210px; padding: 0.65rem 1.5rem;font-size: 1.3rem;border-radius: 0.3rem;">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                         Delete</button>
                        {{ form_end(delete_form) }}
                </div>
            </div>


            <script>
                $(function () {
                    $('#profile-image1').on('click', function () {
                        $('#profile-image-upload').click();
                    });
                });
            </script>


        </div>
    </div>



{% endblock %}
{% block javascripts %}

{% endblock %}