{% extends 'base.html.twig' %}

{#{% block stylesheets %}#}
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>#}
    {#<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">#}
{#{% endblock %}#}

{% block title %}
    Profile de {{ profile }}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
    <style>
        @media print {
            .img-circle {
                width: 45px;
                height: 45px;
            }

            .card {
                margin-left: 150px;
                width: 1000px;
                height: 1000px;
            }
        }

    </style>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        function imprimer_page() {
            window.print();
        }
    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card" align="center" style="width: 700px;height: auto;">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-2 col-md-offset-1">
                            <a>
                                {% if profile.photo != '' %}
                                    <img alt="User Pic"
                                         src="{{ asset('uploads/photo/' ~ profile.photo) }}"
                                         class="img-circle img-responsive">
                                {% else %}
                                    <img alt="User Pic" src="{{ asset('assets/img/profile.png') }}"
                                         id="profile-image1" class="img-circle img-responsive">
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-md-9">
                            <h1>{{ profile.prenom }} {{ profile.nom }}</h1>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="card-block"><br>
                    <table style="width: 100%;" align="center">
                        {% if profile.telephone %}
                            <tr>
                                <td class="col-sm-4 tital ">
                                    {{ 'entity.profile.telephone' | trans }}
                                </td>
                                <td class="col-sm-8">
                                    {{ profile.telephone }}
                                </td>
                            </tr>
                        {% endif %}

                        {% if profile.email %}
                            <tr>
                                <td class="col-sm-4 tital ">
                                   {{ 'entity.profile.email' | trans }}
                                </td>
                                <td class="col-sm-8">
                                    {{ profile.email }}
                                </td>
                            </tr>
                        {% endif %}


                        {% if profile.cv %}
                            <tr>
                                <td class="col-sm-4 tital ">
                                    {{ 'entity.profile.cv' | trans }}:
                                </td>
                                <td class="col-sm-8">
                                    <a href="{{ asset('uploads/cv/' ~ profile.cv) }}">View CV (DOC)</a>
                                </td>
                            </tr>
                        {% endif %}

                        {% if profile.experience %}
                        <tr>
                            <td class="col-sm-4 tital ">
                                {{ 'entity.profile.experience' | trans }}
                            </td>
                            <td class="col-sm-8">
                                {{ profile.experience }}
                            </td>
                        </tr>
                        {% endif %}

                        {#<tr>#}
                            {#<td class="col-sm-4 tital ">#}
                                {#<div class="clearfix"></div>#}
                            {#</td>#}
                            {#<td class="col-sm-8">#}
                                {#<div class="bot-border"></div>#}
                            {#</td>#}
                        {#</tr>#}
                        {% if profile.niveau %}
                        <tr>
                            <td class="col-sm-4 tital ">
                                {{ 'entity.profile.niveau' | trans }}
                            </td>
                            <td class="col-sm-8">
                                {{ profile.niveau }}
                            </td>
                        </tr>
                        {% endif %}

                        {% if profile.competencesTags %}
                        <tr>
                            <td class="col-sm-4 tital ">
                                {{ 'entity.profile.competences' | trans }}
                            </td>
                            <td class="col-sm-8">
                                {{ profile.competencesTags }}
                            </td>
                        </tr>
                        {% endif %}

                        {% if profile.skype !="" %}
                            <tr>
                                <td class="col-sm-4 tital ">
                                   {{ 'entity.profile.skype' | trans }}
                                </td>
                                <td class="col-sm-8">
                                   {{ profile.skype }}
                                </td>
                            </tr>
                        {% endif %}

                        {% if profile.linkedin %}
                            <tr>
                                <td class="col-sm-4 tital ">
                                   {{ 'entity.profile.linkedin' | trans }}
                                </td>
                                <td class="col-sm-8">
                                    {% if profile.linkedin %}
                                        <a href="{{ profile.linkedin }}" target="_blank">
                                            <i class="fa fa-linkedin fa-2x" style="color:#4875B4;"
                                               aria-hidden="true"></i>
                                        </a>
                                    {% else %}
                                        <i class="fa fa-times text-danger fa-2x" aria-hidden="true"></i>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}

                        {% if profile.facebook %}
                            <tr>
                                <td class="col-sm-4 tital ">
                                    {{ 'entity.profile.facebook' | trans }}
                                </td>
                                <td class="col-sm-8">
                                    <a href="{{ profile.facebook }}" target="_blank">
                                        <i class="fa fa-facebook-square fa-2x"
                                           style="color:#3b5998;"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endif %}

                        {% if profile.github %}
                        <tr>
                            <td class="col-sm-4 tital ">
                                {{ 'entity.profile.github' | trans }}
                            </td>
                            <td class="col-sm-8">
                                <a href="{{ profile.github }}" target="_blank">
                                    <i class="fa fa-github fa-2x" style="color: black;"
                                       aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            {% endif %}

                        </tr>
                        <tr>
                            <td class="col-sm-4 tital ">
                                {{ 'entity.profile.contrat' | trans }}:
                            </td>
                            <td class="col-sm-8">
                                {% if profile.contrat %}
                                    {{ profile.contrat }}
                                {% else %}
                                    <i class="fa fa-exclamation-triangle text-warning fa-2x" aria-hidden="true"></i>
                                {% endif %}
                            </td>
                        </tr>
                        {% if profile.commentaireProfil %}
                        <tr>
                            <td class="col-sm-4 tital ">
                                {{ 'entity.profile.commentaireProfil' | trans }}:
                            </td>
                            <td class="col-sm-8">
                                {{ profile.commentaireProfil }}
                            </td>
                        </tr>
                        {% endif %}


                        {% if profile.prestationsalariale %}
                            <tr>
                                <td class="col-sm-4 tital ">
                                    {{ 'entity.profile.prestationsalariale' | trans }}
                                </td>
                                <td class="col-sm-8">
                                    {{ profile.prestationsalariale }}
                                </td>
                            </tr>
                        {% endif %}

                    </table>
                    <br>
                </div>
            </div>
            <br>
            <div class="row but">
                <div class="col-md-3">
                    {#<button id="impression" value="Imprimer la page" name="impression" type="submit" id="impression" name="impression" onclick="imprimer_page()" class="btn btn-primary pull-right"><i class="fa fa-download">#}
                    {#Download</i></button>#}
                    <button onclick="imprimer_page()" type="button"
                            class="btn btn-primary btn-cons btn-animated from-top fa fa-arrow-down">
                        <span><i class="fa fa-download"></i> Imprimer</span>
                    </button>

                </div>
                <div class="col-md-3">
                    <a href="{{ path('profile_index') }}"
                       class="btn btn-secondary ">
                        <i class="fa fa-undo " aria-hidden="true"></i>
                        Retour au liste
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="{{ path('profile_edit', { 'id': profile.id }) }}"
                       class="btn btn-secondary ">
                        <i class="fa fa-pencil-square-o"></i>
                        Editer
                    </a>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-danger btn_lg" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                        {{ 'entity.common.supprimer' | trans }}
                    </button>
                </div>
            </div>
            <br>
        </div>
    </div>
    {{ form_start(delete_form) }}

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> {{ 'entity.common.supprimer' | trans }}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Voulez-vous vraiement supprimer ce profile ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-secondary" data-dismiss="modal"> Annuler
                    </button>

                    <input class="btn btn-danger btn_lg" type="submit" value="Supprimer">
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $('#profile-image1').on('click', function () {
                $('#profile-image-upload').click();
            });
        });
    </script>


{% endblock %}