{% extends 'base.html.twig' %}
{% block stylesheet %}

{% endblock %}

{% block title %}
Liste des etapes
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-md-6">
            <h1><b>Liste des étapes</b></h1>
        </div>
        <div class="col-md-6  text-right">
            <br><a href="{{ path('etape_new') }}" class="btn btn-success">
                <i class="icon-plus"> Ajouter une étape</i>
            </a>
        </div>
        <table class="table table-sm table-bordered table-hover">
            <thead class="thead-default">
            <tr>
                <th scope="row">Id</th>
                <th>Libellé</th>
                <th>Ordre</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for etape in etapes %}
                <tr>
                    <td>{{ etape.id }}</td>
                    <td>{{ etape.libelle }}</td>
                    <td>{{ etape.ordre }}</td>
                    <td width="100px">
                        <div class="row text-right">

                            <div class="col-md-5">
                                <a href="{{ path('etape_edit', { 'id': etape.id }) }}">
                                    <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
                                </a></div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
