<!--Identité-->
<div class="card">
    <div class="card-block" data-toggle="collapse"
         href="#identite">
        <h5 class="card-title"> Identité </h5>
    </div>
    <div class=" card-block collapse show" id="identite">
        {{ form_row(form.prenom) }}
        {{ form_row(form.nom) }}
        {{ form_widget(form.photoFile) }}
        {{ form_widget(form.cvFile) }}
        {% if profile.cv != '' %}
            <div class="text-center" style="margin-top: -25px;">
                Cliquez
                <a href="{{ asset('uploads/cv/' ~ profile.cv) }}">ici</a> pour voir le CV
            </div>
        {% endif %}
    </div>
</div>

<!--contact-->
<div class="card">
    <div class="card-block" data-toggle="collapse"
         href="#contact">
        <h5 class="card-title"> Contact </h5>
    </div>
    <div class=" card-block collapse show" id="contact">
        <div class="input-group input-group-sm">
            {{ form_label(form.telephone) }}
            <span class="input-group-addon" id="basic-addon1">+216</span>
            {{ form_widget(form.telephone) }}
        </div>
        {{ form_row(form.email) }}
        {{ form_row(form.skype) }}
        {{ form_row(form.linkedin) }}
        {{ form_row(form.facebook) }}
        {{ form_row(form.github) }}
    </div>
</div>

<div class="card">
    <div class="card-block" data-toggle="collapse"
         href="#competence">
        <h5 class="card-title"> Compétences </h5>
    </div>
    <div class=" card-block collapse show" id="competence">
        {{ form_row(form.competencesTags) }}
        {{ form_row(form.experience) }}
        {{ form_row(form.niveau) }}
    </div>
</div>

<!--situation-->
<div class="card">
    <div class="card-block" data-toggle="collapse"
         href="#situation">
        <h5 class="card-title"> Situation </h5>
    </div>
    <div class=" card-block collapse show" id="situation">
        <div class="row">
            <div class="col-md-4">
                {{ form_label(form.sivp) }}
            </div>
            <div class="col-md-10">
                {{ form_widget(form.sivp) }}
            </div>
        </div>
        {{ form_row(form.prestationsalariale) }}
        {{ form_row(form.disponibilite) }}
    </div>
</div>
