<!--Identité-->
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                   aria-controls="collapseOne" class="collapsed">
                    Identité
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne"
             aria-expanded="true">
            <div class="panel-body">
                {{ form_row(form.prenom) }}
                {{ form_row(form.nom) }}
                {{ form_row(form.photoFile) }}
                {{ form_row(form.cvFile) }}
                {% if profile.cv != '' %}
                    <div class="text-center" style="margin-top: -25px;">
                        Cliquez
                        <a href="{{ asset('uploads/cv/' ~ profile.cv) }}">ici</a> pour voir le CV
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                   aria-expanded="false" aria-controls="collapseTwo">
                    Contact
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo"
             aria-expanded="false" style="height: 0px;">
            <div class="panel-body">
                {{ form_row(form.ville) }}
                {{ form_row(form.telephone) }}
                {{ form_row(form.email) }}
                {{ form_row(form.skype) }}
                {{ form_row(form.linkedin) }}
                {{ form_row(form.facebook) }}
                {{ form_row(form.github) }}
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                   aria-expanded="false" aria-controls="collapseThree">
                    Compétences
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingThree"
             aria-expanded="false" style="height: 0px;">
            <div class="panel-body ">
                {{ form_row(form.competencesTags) }}
                {{ form_row(form.experience) }}
                {{ form_row(form.niveau) }}
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"
                   aria-expanded="false" aria-controls="collapseFour">
                    Situation
                </a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour"
             aria-expanded="false" style="height: 0px;">
            <div class="panel-body">
                {{ form_row(form.contrat) }}
                {{ form_row(form.salaireactuel) }}
                {{ form_row(form.societeactuel) }}
                {{ form_row(form.prestationsalariale) }}
                {{ form_row(form.disponibilite) }}
                {{ form_row(form.ambition) }}
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"
                   aria-expanded="false" aria-controls="collapseFive">
                    Formation
                </a>
            </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive"
             aria-expanded="false" style="height: 0px;">
            <div class="panel-body">
                {{ form_row(form.postBac) }}
                {{ form_row(form.institut) }}
                {{ form_row(form.diplome) }}
            </div>
        </div>
    </div>
</div>

