{% extends 'base.html.twig' %}

{% block title %}
    Modifi candidature de{{ candidature.profile.nom }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/bootstrap-tagsinput.js') }} "></script>
    <script src="{{ asset('assets/js/typeahead.js') }} "></script>
    <script src="{{ asset('assets/js/competences.js') }} "></script>
    <script language="javascript">
        $(function () {

            var idSource = {{ candidature.currentEtape.id }};
            $('#appbundle_candidature_rapportCommentaire').parent().hide();

            $('#appbundle_candidature_currentEtape').on('change', function (e) {
                if ($(this).val() != idSource) {
                    $('#appbundle_candidature_rapportCommentaire').parent().show();
                    $('#appbundle_candidature_rapportCommentaire').css({
                        'box-shadow': '0 0 3px #7887AB ',
                        'margin': '10px',
                        ' transition': '0.3s'
                    });
                } else {
                    $('#appbundle_candidature_rapportCommentaire').parent().hide();
                }
            });

            function copyForms() {
                var profileForm = $('form[name=appbundle_profile] :input');
                profileForm.not(':submit')
                    .clone().hide()
                    .appendTo('form[name=appbundle_candidature]');
            }

            $('#appbundle_submit').on('click', function (e) {
                var candidatureForm = $('form[name=appbundle_candidature]');
                candidatureForm.submit();
            });

            $('form[name=appbundle_candidature]').on('submit', function (e) {
                e.preventDefault();
                copyForms();
                $(this).attr('enctype', 'multipart/form-data');
                $(this).unbind().submit();
            });

            $('form[name=appbundle_profile]').on('submit', function (e) {
                e.preventDefault();
                var candidatureForm = $('form[name=appbundle_candidature]');
                candidatureForm.submit();
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap-tagsinput.css') }}">
    <style>
        .card-block {
            padding: 10px;
        }

        .historique {
            height: 5px;
            align-content: center;
            align-self: center;
        }

        img.img-circle {
            width: 40px;
            height: 40px;
            margin-top: -25px;
            margin-bottom: 22px;
            border: 2px solid #03b1ce;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
        }

        .card-title {
            margin-bottom: 0px;
        }

        form {
            width: 95%;
        }

    </style>
{% endblock %}

{% block body %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
    <!-- ENTETE DE LA PAGE , + Boutton -->
    <div class="row">
        <div class="col-md-6">
            <h1>Candidature : {{ candidature.profile.prenom }} {{ candidature.profile.nom }}</h1>
        </div>
        <div class="col-md-6 text-right">
            <br>
            <button type="button" class="btn btn-success" id="appbundle_submit">
                <i class="fa fa-check"></i>
                Enregistrer
            </button>
            <button type="button" class="btn btn-danger btn_lg" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-times" aria-hidden="true"></i>
                {{ 'entity.common.supprimer' | trans }}
            </button>
            <a href="{{ path('candidature_index') }}" class="btn btn-secondary">
                <i class="fa fa-undo" aria-hidden="true"></i>
                Retour à la liste</a>
            <br>
        </div>
    </div>
    <hr>
    <br/>

    <div class="row">
        <div class="col-md-1">
            <a href="{{ path('candidature_show', { 'id': candidature.id }) }}">
                {% if candidature.profile.photo != '' %}
                    <img alt="User Pic"
                         src="{{ asset('uploads/photo/' ~ candidature.profile.photo) }}"
                         class="img-circle img-responsive">
                {% else %}
                    <img alt="User Pic" src="{{ asset('assets/img/profile.png') }}"
                         id="profile-image1" class="img-circle img-responsive">
                {% endif %}
            </a>
        </div>
        <div class="col-md-11" style="margin-top: -35px;margin-left: -30px;">
            <h2>{{ candidature.poste }}</h2>
        </div>
    </div>

    <div class="row">
    <!--FORMULAIRE DU PROFILE-->
    <div class="col-md-6">
        {{ form_start(form) }}
        {% include 'profile/forms/form.html.twig' %}
        {{ form_end(form) }}
    </div>

    <!--FORMULAIRE DU CANDIDATURE-->

    <div class="col-md-6">

        <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapseFive" aria-expanded="true"
                           aria-controls="collapseFive" class="collapsed">
                            Candidature
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse colapse in" role="tabpanel" aria-labelledby="headingSix"
                     aria-expanded="true">
                    <div class="panel-body">
                        {{ form_start(edit_form) }}
                        {{ form_row(edit_form.currentEtape) }}
                        {{ form_row(edit_form.commentaire) }}
                        {{ form_row(edit_form.noteCommentaire) }}
                        {{ form_row(edit_form.noteEvaluation) }}
                        <br>
                        {{ form_row(edit_form.rapportCommentaire) }}
                        {{ form_end(edit_form) }}
                    </div>
                </div>
            </div>

            <!--Historique des notes-->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingSix">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapseSix" aria-expanded="false"
                           aria-controls="collapseSix" class="collapsed">
                            Notes
                        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix"
                     aria-expanded="false">
                    <div class="panel-body">
                        {% for note in notes %}
                            <hr>

                            <div class="row">
                                <div class="col-md-12">
                                    <strong>{{ note.etape }}</strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{ note.commentaire }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <small>&Eacute;valuation : {{ note.evaluation }}</small>
                                </div>
                                <div class="col-md-6 text-right">
                                    <small>{{ note.dateCreated|date('m-d-Y H:i:s') }}</small>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!--Historique des rapports-->
            {% if rapports|length > 0 %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingSeven">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven" aria-expanded="false"
                           aria-controls="collapseSeven" class="collapsed">
                            Rapports
                        </a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="headingSeven" aria-expanded="false">
                    <div class="panel-body">
                        <table>
                            {% for rapport in rapports %}
                                <tr>
                                    <div class="col-lg-6">
                                        <td style="color: #5193f0;font-family: Arial;font: 25px;">
                                            {{ rapport.action.libelle }}
                                        </td>
                                    </div>
                                    <td>{{ rapport.dateCreated|date('Y-m-d') }}</td>
                                </tr>
                                <tr>
                                    <div class="col-lg-6">
                                        <td>{{ rapport.libelle }}</td>
                                    </div>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}

        </div>
    </div>

    {{ form_start(delete_form) }}

    <!--contenu du Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> {{ 'entity.common.supprimer' | trans }}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Voulez-vous vraiement supprimer ce profile ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-secondary" data-dismiss="modal"> Annuler
                    </button>

                    <input class="btn btn-danger btn_lg" type="submit" value="Supprimer">
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
    </div>
    <!--fin du modal-->

{% endblock %}