{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <style>

        #profile-image1 {
            cursor: pointer;
            width: 100px;
            height: 100px;
            border: 2px solid #03b1ce;
        }



        ul {
            list-style: none;
            margin-left: 0;
            padding-left: 0;
        }

        li {
            margin-bottom: 15px; /* à adapter */
        }

        th {
            text-align: center;
        }


    </style>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Candidature edit</h1>


    <!--Tableau de l'entete contenant l image , le poste et le nom du candidat -->
    <TABLE BORDER="0" >
        <TR>
            <TD ROWSPAN=2>
                <a href="{{ path('candidature_show', { 'id': candidature.id }) }}">
                    <div id="profile-image1"class="img-circle img-responsive">
                        {% if candidature.profile.photo != '' %}
                            <img alt="User Pic"
                                 src="{{ asset('uploads/photo/' ~ candidature.profile.photo) }}"
                                 class="img-circle img-responsive">
                        {% else %}
                            <img alt="User Pic" src="{{ asset('assets/image/profile.png') }}"
                                 id="profile-image1" class="img-circle img-responsive">
                        {% endif %}

                    </div>
                </a>
            </TD>
            <TD><h3><b>{{ candidature.poste }}</b></h3></TD>
        </TR>
        <tr>
            <td><h3>{{ candidature.profile.nom }} {{ candidature.profile.prenom }}</h3></td>
        </tr>
    </TABLE>

    <br>

    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    <div class="row">
        <div class="col-md-3 ">
            <div class="form-group row">

            {{ form_start(form) }}
            <table>
                <tr>
                    {{ form_widget(form) }}
                </tr>
            </table>

            <input type="submit" class="btn btn-secondary" value="Edit"/>

            {{ form_end(form) }}
            <br>
            </div>
        </div>

        <div class="col-md-3 ">
            <div class="form-group row">

            {% form_theme form 'bootstrap_3_layout.html.twig' %}
            {{ form_start(edit_form) }}
            <tr>
                {{ form_row(edit_form.currentEtape) }}
            </tr>
            <br>
            <input type="submit" class="btn btn-secondary" value="Edit"/>
            <a href="{{ path('candidature_index') }}" class="btn btn-secondary">Back to the list</a>
            <!-- Button trigger modal -->

            {{ form_end(edit_form) }}
            </div>
            </div>
        </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Supprimer </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Voulez-vous vraiement supprimer ce profile ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-secondary" data-dismiss="modal"> Annuler
                    </button>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}
