{% extends 'base.html.twig' %}

{% block title %}
    Modifi candidature de{{ candidature.profile.nom }}
{% endblock %}

{% block javascripts %}
    <script language="javascript">
        $(function () {

            function copyForms() {
                var profileForm = $('form[name=appbundle_profile] :input');
                profileForm.not(':submit')
                    .clone().hide()
                    .appendTo('form[name=appbundle_candidature]');
            }

            $('#appbundle_submit').on('click', function (e) {
//                e.preventDefault();
                var candidatureForm = $('form[name=appbundle_candidature]');
                copyForms();
                candidatureForm.submit();
            });

            $('form[name=appbundle_candidature]').on('submit', function (e) {
                e.preventDefault();
                copyForms();
                $(this).unbind().submit();
            });

            $('form[name=appbundle_profile]').on('submit', function (e) {
                e.preventDefault();
                var candidatureForm = $('form[name=appbundle_candidature]');
                copyForms();
                candidatureForm.submit();
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    <style>
        .card-block {
            padding: 10px;

        }

        img.img-circle {
            width: 40px;
            height: 40px;
            margin-top: -25px;
            margin-bottom: 22px;
            border: 2px solid #03b1ce;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
        }

        .card-title {
            margin-bottom: 0px;
        }

        form {
            width: 95%;
        }

    </style>
{% endblock %}

{% block body %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}

    <div class="row">
        <div class="col-md-6">
            <h2>Candidature : {{ candidature.profile.prenom }} {{ candidature.profile.nom }}</h2>
        </div>
        <div class="col-md-6 col-md-offset-6 text-right">
            <button type="button" class="btn btn-success" id="appbundle_submit">
                <i class="fa fa-check"></i>
                Enregistrer
            </button>
            <button type="button" class="btn btn-danger btn_lg" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-times" aria-hidden="true"></i>
                {{ 'entity.common.supprimer' | trans }}
            </button>
            <a href="{{ path('candidature_index') }}" class="btn btn-secondary">
                <i class="fa fa-undo" aria-hidden="true"></i>
                Retour à la liste</a>
            <br>
        </div>
    </div>
    <hr>
    <br/>
    <div class="row">
        <div class="col-md-1">
            <a href="{{ path('candidature_show', { 'id': candidature.id }) }}">
                {% if candidature.profile.photo != '' %}
                    <img alt="User Pic"
                         src="{{ asset('uploads/photo/' ~ candidature.profile.photo) }}"
                         class="img-circle img-responsive">
                {% else %}
                    <img alt="User Pic" src="{{ asset('assets/image/profile.png') }}"
                         id="profile-image1" class="img-circle img-responsive">
                {% endif %}
            </a>
        </div>
        <div class="col-md-11" style="margin-top: -20px;margin-left: -40px;">
            <h3>{{ candidature.poste }}</h3>
        </div>
    </div>
    <div class="row">
        <!--FORMULAIRE DU PROFILE-->
        <div class="col-md-6">
            {{ form_start(form) }}
            {% include 'profile/forms/form.html.twig' %}
            {{ form_end(form) }}
            <br>
        </div>

        <!--FORMULAIRE DU CANDIDATURE-->

        <div class="col-md-6">
            <div class="card">
                <div class="card-block" data-toggle="collapse"
                     href="#candidature">
                    <h5 class="card-title"><u>Candidature</u></h5>
                </div>
                <div class=" card-block collapse show" id="candidature">
                    {{ form_start(edit_form) }}
                    {{ form_row(edit_form.currentEtape) }}
                    {{ form_row(edit_form.commentaire) }}
                    {{ form_row(edit_form.noteCommentaire) }}
                    {{ form_row(edit_form.noteEvaluation) }}
                    <br>
                    {#<button type="submit" class="btn btn-success">#}
                    {#<i class="fa fa-check"></i>#}
                    {#Edit#}
                    {#</button>#}
                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>
    </div>

    <!--contenu du Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> {{ 'entity.common.supprimer' | trans }}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Voulez-vous vraiement supprimer ce profile ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-secondary" data-dismiss="modal"> Annuler
                    </button>
                    {{ form_start(delete_form) }}
                    <input class="btn btn-danger btn_lg" type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
    </div>
    <!--fin du modal-->

{% endblock %}