{% extends 'base.html.twig' %}

{% block javascripts %}
    <script>
        var $collectionHolder;

        // setup an "add a tag" link
        var $addLienLink = $('<a href="#" class="btn btn-secondary add_tag_link"><i class="fa fa-plus"></i> </a>');
        var $newLinkLi = $('<div class="form-group row"></div>').append($addLienLink);

        $(document).ready(function () {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('#appbundle_poste_liens');

            // add a delete link to all of the existing tag form li elements
            $collectionHolder.find('>.form-group.row').each(function () {
                addLienFormDeleteLink($(this));
            });

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addLienLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addLienForm($collectionHolder, $newLinkLi);
            });
        });

        function addLienForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = newForm;
            $newLinkLi.before($newFormLi);


            // add a delete link to the new form
            addLienFormDeleteLink($newFormLi);
        }


        function addLienFormDeleteLink($lienFormLi) {
            var $removeFormA = $('<a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i> </a>');
            $lienFormLi.append($removeFormA);

            $removeFormA.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $lienFormLi.remove();
            });
        }

    </script>
{% endblock %}


{% block body %}
    {{ form_start(edit_form) }}
    <div class="row">
        <div class="col-md-5">
            <h1>Poste edit</h1>
        </div>
        <div class="col-md-7 text-right">
            <button type="submit" class="btn btn-secondary"><i class="fa fa-check"></i> Confirmer</button>
            <a href="{{ path('poste_index') }}" class="btn btn-secondary"><i class="fa fa-undo " aria-hidden="true"></i>
                Retour à la liste</a>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger btn_lg" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-times" aria-hidden="true"></i>
                {{ 'entity.common.supprimer' | trans }}
            </button>
            <br>
            <br>
        </div>
    </div>
    {% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}

    {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> {{ 'entity.common.supprimer' | trans }}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Voulez-vous vraiement supprimer ce profile ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-secondary" data-dismiss="modal"> Annuler
                    </button>
                    {{ form_start(delete_form) }}
                    <input class="btn btn-danger btn_lg" type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
