{% extends 'base.html.twig' %}

{% block title %}
Liste des postes
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable({
                "paging": true,
                "stateSave": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json",
                }
            });
            table.columns().every(function (index) {
                var visible = this.visible();
                $('.toggle-vis').eq(index).prop('checked', visible);
            });

            $('.toggle-vis').on('change', function (e) {
                e.preventDefault();
                // Get the column API object
                var column = table.column($(this).attr('data-column'));
                // Toggle the visibility
                column.visible(!column.visible());
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <h1><b>Liste des postes </b></h1>
        </div>
        <div class="col-md-6 text-right">
            <br>
            <a href="{{ path('poste_new') }}" class="btn btn-success">
                <i class="icon-plus"> Ajouter un poste</i>
            </a>
            <br>
        </div>
    </div>
    <hr>
    <table id="example" class="table table-striped table-bordered" >
        <thead>
        <tr>
            <th>Libellé</th>
            <th>Description</th>
            <th>Profil demandé</th>
            <th>Candidats</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for poste in postes %}
            <tr>
                <td><a href="{{ path('poste_show', { 'id': poste.id }) }}">{{ poste.libelle }}</a></td>
                <td>{{ poste.description }}</td>
                <td>{{ poste.profileDemande }}</td>
                <td>{{ poste.candidatures | length  }}</td>
                <td>
                    <div class="btn-group btn-group-sm btn-group-vertical">
                        <a class="btn btn-secondary" href="{{ path('poste_show', { 'id': poste.id }) }}" data-toggle="tooltip" title="Afficher le poste">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a class="btn btn-secondary" href="{{ path('poste_edit', { 'id': poste.id }) }}" data-toggle="tooltip"  title="Editer le poste">
                            <i class="fa fa-pencil-square-o"></i>
                        </a>
                    </div>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
