{% extends 'base.html.twig' %}

{% block title %}
    Poste {{ poste.libelle }}
{% endblock %}

{% block stylesheets %}
    <style>
        .invoice-title h2, .invoice-title h3 {
            display: inline-block;
        }

        .table > tbody > tr > .no-line {
            border-top: none;
        }

        .table > thead > tr > .no-line {
            border-bottom: none;
        }

        .table > tbody > tr > .thick-line {
            border-top: 10px solid;
        }

        div #poste.card-block.collapse.show {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        div #candidats.card-block.collapse.show {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        div .card-block {
            padding-bottom: 0px;
            padding-top: 5px
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable({
                "paging": true,
                "stateSave": true,
                "columnDefs": [
                    {"width": "66px", "targets": 0}
                ],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json",
                }
            });
            table.columns().every(function (index) {
                var visible = this.visible();
                $('.toggle-vis').eq(index).prop('checked', visible);
            });

            $('.toggle-vis').on('change', function (e) {
                e.preventDefault();
                // Get the column API object
                var column = table.column($(this).attr('data-column'));
                // Toggle the visibility
                column.visible(!column.visible());
            });
        });

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}
{% block body %}
    <div class="container">
        {{ form_start(delete_form) }}
        <div class="row">
            <div class="col-md-4">
                <h1><b>Poste </b></h1>
            </div>
            <div class="col-md-8 text-right">
                <br>
                <a class="btn btn-secondary" href="{{ path('poste_edit', { 'id': poste.id }) }}"> <i
                            class="fa fa-pencil-square-o"></i> Edit</a>
                <a class="btn btn-secondary" href="{{ path('poste_index') }}">
                    <i class="fa fa-undo" aria-hidden="true"></i>
                    Retour à la liste</a>
                <button type="button" class="btn btn-danger btn_lg" data-toggle="modal"
                        data-target="#myModal">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    {{ 'entity.common.supprimer' | trans }}
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                   aria-expanded="true"
                                   aria-controls="collapseOne" class="">
                                    À propos ce poste :
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                             aria-labelledby="headingOne"
                             aria-expanded="true">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        Libelle :
                                    </div>
                                    <div class="col-md-9">
                                        {{ poste.libelle }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        Description :
                                    </div>
                                    <div class="col-md-9">
                                        {{ poste.description }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        Profile demandé:
                                    </div>
                                    <div class="col-md-9">
                                        {{ poste.profileDemande }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        {% if (poste.liens | length) %}
                                            Liens des annonces:
                                        {% endif %}
                                    </div>
                                    <div class="col-md-9">
                                        <ul>
                                            {% for lien in poste.liens %}
                                                <li>
                                                    <a href="{{ lien.url }}"
                                                       title="{{ lien.url }}"
                                                       target="_blank"
                                                    > {{ lien.libelle }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                                       aria-expanded="true"
                                       aria-controls="collapseTwo" class="">
                                        Les candidats pour ce poste
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel"
                                 aria-labelledby="headingTwo"
                                 aria-expanded="true">
                                <div class="panel-body">
                                    <table id="example" class="table table-striped table-bordered display">
                                        <thead>
                                        <tr>
                                            <th>{{ 'entity.candidat.photo' | trans }}</th>
                                            <th>{{ 'entity.candidat.nom' | trans }}</th>
                                            <th>{{ 'entity.candidat.prenom' | trans }}</th>
                                            <th>{{ 'entity.candidat.email' | trans }}</th>
                                            <th>{{ 'entity.candidat.poste' | trans }}</th>
                                            <th>{{ 'entity.candidat.etapecourante' | trans }}</th>
                                            <th>{{ 'entity.candidat.actions' | trans }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for candidature in poste.candidatures %}
                                            <tr>
                                                <td><a>
                                                        <div id="profile-image1"
                                                             class="img-circle img-responsive text-center">
                                                            {% if candidature.profile.photo != '' %}
                                                                <a href="{{ path('profile_show', { 'id': candidature.profile.id }) }}">
                                                                    <img
                                                                            alt="User Pic"
                                                                            src="{{ asset('uploads/photo/' ~ candidature.profile.photo) }}"
                                                                            class="img-circle img-responsive"></a>
                                                            {% else %}
                                                                <img alt="User Pic"
                                                                     src="{{ asset('assets/img/profile.png') }}"
                                                                     id="profile-image1"
                                                                     class="img-circle img-responsive">
                                                            {% endif %}

                                                        </div>
                                                    </a>
                                                </td>

                                                <td>{{ candidature.profile.nom }}</td>
                                                <td>{{ candidature.profile.prenom }}</td>
                                                <td>{{ candidature.profile.email }}</td>
                                                <td>{{ candidature.poste }}</td>

                                                <td>{{ candidature.currentEtape }}</td>
                                                <td>
                                                    <div class="btn-group btn-group-sm btn-group-vertical">
                                                        <a class="btn btn-secondary"
                                                           href="{{ path('candidature_edit', { 'id': candidature.id }) }} "
                                                           data-toggle="tooltip" title="Editer le profile">
                                                            <i class="fa fa-pencil-square-o"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            {#{% endif %}#}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Début du modal-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        id="exampleModalLabel"> {{ 'entity.common.supprimer' | trans }}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Voulez-vous vraiement supprimer ce profile ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-secondary"
                            data-dismiss="modal"> Annuler
                    </button>
                    <input type="submit" class="btn btn-danger btn_lg" value="Supprimer">
                    {{ form_end(delete_form) }}

                </div>
            </div>
        </div>
    </div>
    <!--fin du modal-->

{% endblock %}
